@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .container{
    @apply  w-full mx-auto sm:max-w-[516px] md:max-w-[1164px] lg:max-w-[1344px];
  }
    .btn{
        @apply px-6 py-2 text-base border border-primary text-white bg-primary font-Roboto font-semibold hover:text-primary hover:bg-secondary transition duration-[0.5s];
    }
    .Bbtn{
      @apply px-12 py-4 text-base border border-primary text-white bg-primary font-Roboto font-semibold hover:text-primary hover:bg-secondary transition duration-[0.5s];
  }
  
  }
  
.donation-item {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.donation-item::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.donation-content {
  position: absolute;
  width: 100%; 
  height: 100%; 
  padding: 20px; 
  justify-content: end; 
  bottom: -60px; 
  left: 0;
  transition: bottom 0.5s;
  z-index: 3;
}

.donation-item:hover .donation-content {
  bottom: 0; 
  background: rgba(0, 0, 0, 0.6);
}

.donation-btn {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.donation-item:hover .donation-btn {
  visibility: visible;
  opacity: 1;
}


.slick-prev::before,
.slick-next::before {
  display: none;
}


.slick-arrow {
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 1px solid #f8b864;
  background: #f8b864; 
  width: 40px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  
}

.slick-arrow:hover {
  background: #f3e0c6; 
  
}
.slick-arrow:hover svg {
  color: #f8b864 !important;  
}



